/*Variabili e classi colore*/
:root {
    --bg-light-gray: #e5e5e5; 
    --bg-blue: #1b72e8; 
    --bg-dark-blue: #051e34;
    --bg-teal: #165bba; 
}

.bg-light-gray {
    background-color: var(--bg-light-gray);
}

.bg-blue {
    background-color: var(--bg-blue);
}

.bg-dark-blue {
    background-color: var(--bg-dark-blue);
}

a {
    color: currentColor;
    text-decoration: none;
}

/*Layout esterno*/

.body-custom {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.navbar-custom {
    height: auto; 
    flex-shrink: 0;
    width: 100%;
    display: flex;
    padding: 10px; 
    align-items: center;
}

.main-container {
    flex-grow: 1; 
    display: flex;
    overflow: hidden;
}

.aside-custom {
    width: 70px;
    flex-shrink: 0;
    overflow: hidden;
}

.main-content {
    flex-grow: 1;
    overflow: auto;
}


/*Navbar*/

.logo-small {
    max-width: 45px;
}


:is(input, textarea) {
    background-color: #e5e5e5;
    padding: 5px; 
}

.search-bar {
    background-color: #e5e5e5;
    border-radius: 10px;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

/*Aside*/

.aside-custom {
    background-image: url(../img/sidebar-bg.png);
}

.list-custom {
    list-style: none;
}

.aside-custom ul {
    padding: 0;
}

.icon-custom {
    width: 10px; 
    margin-right: 10px;
}

/*Header*/

.tag-custom {
    background-color: var(--bg-teal);
    color: white;
    border-radius: 10px;
    padding: 2px 8px; 
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    white-space: nowrap;
}

/***Media-Query***/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .col-custom {
        order: -1;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    .aside-custom {
        width: 150px;
    }


}

/**********DEBUG**********/

.debug .navbar-custom {
    background-color: aqua;
    padding: 8px;
    min-height: 30px;
}

.debug .main-container {
    background-color: red;
    padding: 8px;
    min-height: 50px;
}

.debug .aside-custom {
    background-color: rebeccapurple;
    padding: 8px;
}

.debug .main-content {
    background-color: green;
    padding: 8px;
    min-height: 50px;
}

.debug .app-bar {
    background-color: orange;
    padding: 50px;
}

.debug .app-body {
    background-color: beige;
    padding: 50px;
}